<%- include("../partials/header.ejs") %>

    <div class="container">
        <div class="team_details_container">
            <div class="team_details_heading" style="background-image: url('/images/teams/<%= team.teamLogo %>');">
                <h4>
                    <%= team.teamCity %>
                        <%= team.teamName %>
                </h4>
            </div>

            <div class="team_details_stats">
                Stats
            </div>
        </div>
    </div>


    <%- include("../partials/footer.ejs") %>