<%- include("../partials/header.ejs") %>

    <div class="container">
        <div class="all_games_container">
            <div class="gamesHead">
                <h5>View game results</h5>
                <a id="addNewGame" href="/games/new">Add new game</a>
            </div>

            <% for(let game of games) { %>
                <% let d=game.gameDate.toDateString() %>
                    <a
                        href="/games/<%= game._id %>?winner=<%= game.winner.team %>?looser=<%= game.looser.team %>">
                        <div class="row game">
                            <div class="col-2 left">
                                <img src="/images/ball.png" width="100px" alt="basketball">
                            </div>
                            <div class="col-2 center">
                                <div>
                                    <%= d %>
                                </div>
                            </div>

                            <div class="col-2 winner_team">
                                <%= game.winner.team %>
                            </div>
                            <div class="col-4 result">
                                <div class="row">
                                    <div class="score">
                                        <%= game.winner.score %> : <%= game.looser.score %>
                                                <% if(game.overtime) { %>
                                                    <span>
                                                        OT
                                                    </span>
                                                    <% }%>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 looser_team">
                                <%= game.looser.team %>
                            </div>
                        </div>
                    </a>


                    <%} %>

        </div>
    </div>



    <%- include("../partials/footer.ejs") %>