<%- layout("layout/boilerplate.ejs") %>

    <div class="container">
        <div class="game_form_container">
            <form action="/games" method="POST" class="needs-validation" novalidate>
                <!-- winners team and score -->
                <div class="form-group">

                    <div>
                        <label for="team1" class="form-label">Team 1</label>
                        <select class="form-select" name="team1" id="team1" required>
                            <option value="">Choose...</option>
                            <% for(let team of teams) { %>
                                <option value="<%= team.teamName %>">
                                    <%= team.teamName %>
                                </option>
                                <% } %>
                        </select>
                        <div class="invalid-feedback">
                            Please select team
                        </div>
                    </div>
                </div>

                <!-- loosers team and score -->
                <div class="form-group">
                    <label for="team2">Team 2</label>
                    <div>
                        <select class="form-select" name="team2" id="team2" required>
                            <option value="">Choose...</option>
                            <% for(let team of teams) { %>
                                <option value="<%= team.teamName %>">
                                    <%= team.teamName %>
                                </option>
                                <% } %>
                        </select>
                        <div class="invalid-feedback">
                            Please select team
                        </div>
                    </div>
                </div>

                <!-- home team  -->
                <div class="form-group">
                    <label for="teamHome">Home team</label>
                    <div>
                        <select class="form-select" name="teamHome" id="teamHome" required>
                            <option value="">Choose...</option>
                            <% for(let team of teams) { %>
                                <option value="<%= team.teamName %>">
                                    <%= team.teamName %>
                                </option>
                                <% } %>
                        </select>
                        <div class="invalid-feedback">
                            Please select home team
                        </div>
                    </div>
                </div>

                <!-- overtime? -->
                <!-- <div class="form-group">
                    <input type="checkbox" id="overtime" name="overtime" value="true">
                    <label for="overtime">Game ended in overtime</label><br>
                </div> -->

                <div class="form-group">
                    <label for="gameDay">Game day</label>
                    <div>
                        <input class="form-control" type="date" id="gameDay" name="gameDay" required>
                        <div class="invalid-feedback">
                            Played games date is required
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary">
                    Simulate
                </button>
            </form>

        </div>
    </div>